<h1>Update</h1>

<form ng-submit="vm.submit(vm.user)">
  <div class="field">
    <label class="label">First Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="First Name..." name="firstName" ng-model="vm.user.firstName" required>
    </div>
  </div>
  <div class="field">
    <label class="label">Last Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Last Name..." name="lastName" ng-model="vm.user.lastName" required>
    </div>
  </div>
  <div class="field">
    <label class="label">Role</label>
    <div class="control">
      <div class="select" disabled>
        <select name="role" ng-model="vm.user.role" required>
          <option>{{ vm.user.role }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="email.." name="email" ng-model="vm.user.email" required>
      <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>
    </div>
  </div>
  <div class="field">
    <label class="label">Image Link <small>(optional)</small></label>
    <div class="control">
      <input class="input" type="text" placeholder="Image..." name="image" ng-model="vm.user.image">
    </div>
  </div>
  <div class="field">
    <label for="needHelp" value="vm.user.needHelp"></label>
    <div class="control">
      <input type="checkbox" ng-model="vm.user.needHelp" ng-checked="vm.user.needHelp"><p style="display: inline-block">&nbsp;I would like some help!</p>
    </div>
  </div>
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
</form>
