<h1>{{ vm.user.firstName }}'s Profile</h1>

<div class="box">
  <article class="media chat-article">
    <div class="media-left">
      <img ng-if="vm.user.image !== 'image'" ng-class="vm.user.needHelp ? 'need-help' : ''" class="profile-show-img" ng-src="{{ vm.user.image }}" alt="{{ vm.user.firstName }}" width="167">
      <img ng-if="vm.user.image == 'image'" ng-class="vm.user.needHelp ? 'need-help' : ''" class="profile-show-img" ng-src="images/no-user.jpg" alt="{{ vm.user.name }}" width="167">
    </div>
    <div class="media-content">
      <div class="content">
        <h3>{{ vm.user.firstName }} {{ vm.user.lastName }}</h3>
        <h5 class="profile-small">{{ vm.user.email }}</h5>
        <h5 class="profile-small">{{ vm.user.cohort | uppercase }} {{ vm.user.role | uppercase }}</h5>
        <h5 ng-if="vm.user.needHelp" class="user-need-help profile-small">{{ vm.user.firstName }} would like some one-on-one help!</h5>
        <button ng-if="vm.user._id === main.user._id" class="button is-primary" ui-sref="usersEdit({ id: vm.user._id })">Edit Info</button>
      </div>
    </div>
  </article>
</div>

<div ng-if="vm.avgPace === 0" class="box">
  <article class="media">
    <div class="media-content">
      <div class="content text-center">
        <h2>{{ vm.user.firstName }} hasn't rated any lessons yet.</h2>
      </div>
    </div>
  </article>
</div>

<div class="box">
  <div class="content has-text-centered">
    <h1>{{ vm.user.firstName }}'s Average Ratings</h1>
  </div>
  <div class="level">
    <div class="level-item has-text-centered">
      <div>
        <h2 class="heading">Lesson Pace</h2>
        <ui-knob value="vm.avgPace" name="pace" options="vm.options"></ui-knob>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <h2 class="heading">Lesson Concepts</h2>
        <ui-knob value="vm.avgConcepts" name="concepts" options="vm.options" ng-model="vm.concepts"></ui-knob>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <h2 class="heading">Lesson Syntax</h2>
        <ui-knob value="vm.avgSyntax" name="syntax" options="vm.options" ng-model="vm.syntax"></ui-knob>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <h2 class="heading">Overall Confidence</h2>
        <ui-knob value="vm.avgConfidence" name="confidence" options="vm.options" ng-model="vm.confidence"></ui-knob>
      </div>
    </div>
  </div>
</div>

<div class="box chart-container">
  <canvas ng-show="vm.data" id="line" class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels" chart-options="vm.chartOptions" chart-dataset-override="vm.datasetOverride" chart-click="vm.onClick">
  </canvas>
</div>
