<h1>Chat</h1>
  <div class="box">
    <article class="media chat-article">
      <div class="media-left">
      </div>
      <div class="media-content">
        <div class="content">
          <form ng-submit="vm.submit()">
            <div class="field">
              <label class="label">How are you doing?</label>
              <div class="control">
                <input class="input" type="text" name="comment" value="vm.newComment" ng-model="vm.newComment" placeholder="Write a message...">
              </div>
            </div>
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </article>
  </div>
</form>

<div class="box chat-box" ng-repeat="comment in vm.comments track by $index">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="{{ comment.createdBy.image }}" alt="{{ comment.createdBy.firstName }}">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ comment.createdBy.firstName }}</strong>&nbsp;<small>{{ comment.createdAt }}</small>
          <br>
          {{ comment.content }}
        </p>
      </div>
      <div ng-if="comment.replies.length > 0" class="content chat-reply">
        <p ng-repeat="reply in comment.replies">
          <strong>{{ reply.createdBy.firstName }}</strong>
          <br>
          {{ reply.content }}
        </p>
      </div>
      <div class="content">
        <form ng-submit="vm.replySubmit()">
          <div class="field">
            <label class="label">Reply</label>
            <div class="control">
              <input class="input" type="text" name="reply" value="vm.newReply" ng-model="vm.newReply" placeholder="Write a response...">
            </div>
          </div>
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
        </form>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-heart"></i></span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>
