<h1>Chat</h1>
<form ng-submit="vm.submit()">
  <input type="text" name="comment" placeholder="Write a message..." value="vm.newComment" ng-model="vm.newComment">
  <input type="submit" value="Post">
</form>
<ul>
  <li ng-repeat="comment in vm.comments track by $index">
    <h4>{{ comment.createdBy.firstName }}</h4>
    <p>{{ comment.content }}</p>
  </li>
</ul>

<div class="box" ng-repeat="comment in vm.comments track by $index">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="{{ comment.createdBy.image }}" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{ comment.createdBy.firstName }}</strong>
          <br>
          {{ comment.content }}
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-retweet"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-heart"></i></span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>
