<h1>Log in</h1>


<div class="modal-background"></div>

<div class="modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title">
      Log In
    </p>
    <button class="delete" ng-click="vm.close()"></button>
  </header>

<form ng-submit="vm.submitForm()">
<section class="modal-card-body">
<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="email" placeholder="Email" ng-model="vm.user.email">
    <span class="icon is-small is-left">
      <i class="fa fa-envelope"></i>
    </span>
  </p>
</div>

<div class="field">
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password" ng-model="vm.user.password">
    <span class="icon is-small is-left">
      <i class="fa fa-lock"></i>
    </span>
  </p>
</div>
</section>
<footer class="modal-card-foot">
  <div class="field">
    <p class="control">
      <button class="button is-success">
        Login
      </button>
    </p>
  </div>
</footer>
</form>
  <button class="modal-close"
        ng-click="vm.close()"></button>
</div>

  <!-- <div class="modal-background"></div>
  <div class="modal-card">
      <header class="modal-card-head">
          <p class="modal-card-title">Modal title</p>
          <button class="delete"
                  ng-click="vm.close()"></button>
      </header>
      <section class="modal-card-body">{{vm.hello}}</section>
      <footer class="modal-card-foot">
          <a class="button is-primary">Save changes</a>
          <a class="button"
             ng-click="vm.close()">Cancel</a>
      </footer>
  </div>
  <button class="modal-close"
          ng-click="vm.close()"></button> -->
