
<h1>Form</h1>

<form>
<label>First name</label>
<br></br>
<input type="text" name="firstname">
<br></br>
<label>Last name</label>
<br></br>
<input type="text" name="lastname">
<br></br>
<label>Role</label>
<br></br>
<input type="text" name="role">
<br></br>
<label>email</label>
<br></br>
<input type="text" name="email">
<br></br>
<label>Image</label>
<br></br>
<input type="text">
<br></br>
<label>password</label>
<br></br>
<input type="text" name="password">
<br></br>
<label>Password Confirmation</label>
<br></br>
<input type="text" name="passwordConfirmation">
<br></br>
<input type="submit">
</form>
