<h1>Register</h1>

<form ng-submit="vm.submitForm()">
  <label for="firstName">First Name</label>
  <input type="text" name="firstName" ng-model="vm.user.firstName">

  <label for="lastName">Last Name</label>
  <input type="text" name="lastName" ng-model="vm.user.lastName">

  <label for="cohort">Class</label>
  <input type="text" name="cohort" ng-model="vm.user.cohort">

  <label for="role">Role</label>
  <input type="text" name="role" ng-model="vm.user.role">

  <label for="email">Email</label>
  <input type="text" name="email" ng-model="vm.user.email">

  <label for="image">Image</label>
  <input type="text" name="image" ng-model="vm.user.image">

  <label for="password">Password</label>
  <input type="password" name="password" ng-model="vm.user.password">

  <label for="passwordConfirmation">Password Confirmation</label>
  <input type="password" name="passwordConfirmation" ng-model="vm.user.passwordConfirmation">
  
  <input type="submit" value="Register">
</form>
