<h1>Add A Lesson</h1>

<form ng-submit="vm.submit()">
<div class="field">
  <label class="label">Title</label>
  <div class="control">
    <input class="input" type="text" placeholder="Title..." ng-model="vm.lesson.title">
  </div>
</div>
<div class="field">
  <label class="label">Start Time</label>
  <div class="control">
    <input class="input" type="datetime-local" placeholder="Start time..." ng-model="vm.lesson.startTime">
  </div>
</div>
<div class="field">
  <label class="label">End Time</label>
  <div class="control">
    <input class="input" type="datetime-local" placeholder="End time..." ng-model="vm.lesson.endTime">
  </div>
</div>
<div class="field">
  <label class="label">Creator</label>
  <div class="control">
    <input class="input" type="text" placeholder="Name of creator..." ng-model="vm.lesson.creator">
  </div>
</div>
<div class="field">
  <label class="label">City</label>
  <div class="control">
    <input class="input" type="text" placeholder="City..." ng-model="vm.lesson.city">
  </div>
</div>
<div class="field">
  <label class="label">Competencies</label>
  <div class="control">
    <input class="input" type="text" placeholder="Competencies..." ng-model="vm.lesson.competencies">
  </div>
</div>
<div class="field">
  <label class="label">Instructor</label>
  <div class="control">
    <input class="input" type="text" placeholder="Instructor..." ng-model="vm.lesson.taughtBy">
  </div>
</div>
<div class="field">
  <label class="label">Lesson Notes</label>
  <div class="control">
    <input base64 type="file" name="base64" ng-model="vm.lesson.base64">
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Submit</button>
  </div>
</div>
</form>
