<h1>Lessons</h1>
<div ng-if="main.user.role === 'instructor'" class="content">
  <div class="control">
    <button type="submit" ui-sref="lessonsNew" class="button is-link">Add a lesson</button>
  </div>
</div>

<div class="box">
  <div class="content">
    <div class="field">
      <label class="label">Search for a lesson...</label>
      <div class="control">
        <input class="input" type="text" ng-model="vm.q" placeholder="Search for a lesson...">
      </div>
    </div>
  </div>
</div>

  <div class="box">
    <div class="columns" ng-repeat="lessons in vm.filtered | chunkBy:3 | orderBy: '-'">
      <div class="column" ng-repeat="lesson in lessons">

        <div class="box">
          <div class="content">
            <div class="has-text-centered">
              <p class="strong">
                {{ lesson.title }}
              </p>
              <small class="is-small">
                {{ lesson.createdAt }}
              </small>
            </div>
          </div>
          <div class="has-text-centered">
            <a class="button is-outlined" ui-sref="lessonsShow({ id: lesson._id })">See lesson</a>
          </div>
        </div>
      </div>
    </div>
  </div>
