<h1>Lesson</h1>
<form>
  <label>Title</label>

  <input type="text" name="title">

  <label>Type</label>
  <input type="text" name="type">

  <label>Duration</label>
  <input type="text" name="duration">

  <label>Creator</label>

  <label>City</label>

  <input type="text" name="city">

  <input type="text" name="creator">

  <label>Competencies</label>

  <input type="text" name="competencies">

  <label>Instructor</label>

  <input type="text" name="taughtBy">

  <input type="submit">
</form>
