<h1>Lesson</h1>
<form>
  <label>Title</label>
  <br></br>
  <input type="text" name="title">
  <br></br>
  <label>Type</label>
  <br></br>
  <input type="text" name="type">
  <br></br>
  <label>Duration</label>
  <br></br>
  <input type="text" name="duration">
  <br></br>
  <label>Creator</label>
  <br></br>
  <label>City</label>
  <br></br>
  <input type="text" name="city">
  <br></br>
  <input type="text" name="creator">
  <br></br>
  <label>Comptencies</label>
  <br></br>
  <input type="text" name="competencies">
  <br></br>
  <label>Taught by</label>
  <br></br>
  <input type="text" name="taughtBy">
  <br></br>
  <input type="submit">
</form>
