<div>
  <h1>{{ vm.lesson.title }}</h1>
  <p>{{ vm.lesson.competencies }}</p>
  <p>{{ vm.date }}</p>
  <p>{{ vm.lesson.city }}</p>
  <p>{{ vm.lesson.taughtBy }}</p>
  <p><a ng-href="{{ vm.lesson.lessonNotes }}" target="_blank">Read</a></p>

  <a ng-if="main.user.role === instructor" ui-sref="lessonsEdit({ id: vm.lesson._id })">Edit</a>
</div>

<canvas id="radar" class="chart chart-radar" chart-data="vm.data" chart-options="vm.chartOptions" chart-labels="vm.labels"></canvas>

<div class="columns knob">
<div class="column">
  <ui-knob value="vm.avgPace" name="pace" options="vm.options" ng-model="vm.avgPace"></ui-knob>
</div>
<div class="column">
  <ui-knob value="vm.avgConcepts" name="concepts" options="vm.options" ng-model="vm.avgConcepts"></ui-knob>
</div>
<div class="column">
  <ui-knob value="vm.avgSyntax" name="syntax" options="vm.options" ng-model="vm.avgSyntax"></ui-knob>
</div>
<div class="column">
  <ui-knob value="vm.avgConfidence" name="confidence" options="vm.options" ng-model="vm.avgConfidence"></ui-knob>
</div>
</div>


    <div class="box" ng-repeat="rating in vm.lessonData track by $index">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <a ui-sref="usersShow({ id: rating.createdBy.id })"><img src="{{ rating.createdBy.image }}" alt="Image"></a>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
          <h4>{{ rating.createdBy.firstName }}</h4>
          <p>{{ rating.message }}</p>
        </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <ul>
              <li>Pace: {{ rating.pace }}</li>
              <li>Concepts: {{ rating.concepts }}</li>
              <li>Syntax: {{ rating.syntax }}</li>
              <li>Confidence: {{ rating.confidence }}</li>
              <ul>
            </div>
          </nav>
        </div>
      </article>
    </div>

<h2>Lesson notes</h2>
<div class="markdown-body" btf-markdown ng-include="vm.returnLessonNotes(vm.lesson.lessonNotes)"></div>
