<h1 class>{{ vm.lesson.title }}</h1>

<div class="level ">
  <div class="content">
    <div class="level-item">
      <h1>{{ vm.lesson.competencies }}</h1>
    </div>
    <div>
      <a ng-href="{{ vm.lesson.lessonNotes }}" target="_blank" download><button class="button is-primary" >Download Lesson Notes</button></a>
      <button class="button is-link" ng-if="main.user.role === 'instructor'" ui-sref="lessonsEdit({ id: vm.lesson._id })">Edit Lesson</button>
    </div>
  </div>
</div>

<canvas id="radar" class="chart chart-radar chart-container " chart-data="vm.data" chart-options="vm.chartOptions" chart-labels="vm.labels"></canvas>

<div class="box ">
  <div class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Taught by</p>
        <p class="small">{{ vm.lesson.taughtBy }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Location</p>
        <p class="small">{{ vm.lesson.city }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Created by</p>
        <p class="small">{{ vm.lesson.creator }}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Date</p>
        <p class="small">{{ vm.lesson.createdAt }}</p>
      </div>
    </div>
  </div>
</div>

<div class="box ">
  <div class="content has-text-centered">
    <h1>Average Student Ratings</h1>
  </div>

  <div class="level">
    <div class="level-item has-text-centered">
      <div>
        <h2 class="heading">Lesson Pace</h2>
        <ui-knob value="vm.avgPace" name="pace" options="vm.options" ng-model="vm.avgPace"></ui-knob>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <h2 class="heading">Lesson Concepts</h2>
        <ui-knob value="vm.avgConcepts" name="concepts" options="vm.options" ng-model="vm.avgConcepts"></ui-knob>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <h2 class="heading">Lesson Syntax</h2>
        <ui-knob value="vm.avgSyntax" name="syntax" options="vm.options" ng-model="vm.avgSyntax"></ui-knob>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <h2 class="heading">Overall Confidence</h2>
          <ui-knob value="vm.avgConfidence" name="confidence" options="vm.options" ng-model="vm.avgConfidence"></ui-knob>
        </div>
      </div>
    </div>
  </div>

  <div class="box ">
    <div class="content has-text-centered">
      <h1>Student Ratings</h1>
    </div>
    <div class="columns" ng-repeat="users in vm.lessonData | chunkBy:4">
      <div class="column" ng-repeat="user in users">
        <div class="box">

            <div class="media-left">
              <div class="level">
                <div class="level-item">
                  <div>
                    <figure class="image is-48x48">
                      <img ng-class="user.createdBy.needHelp ? 'need-help' : ''" src="{{ user.createdBy.image }}" alt="Image">
                    </figure>
                  </div>

                </div>
                <div class="level-item">
                  <div class="content has-text-centered">
                    <div>
                      <p>
                        <strong>{{ user.createdBy.firstName }}'s rating</strong>
                        <hr class="good" ng-if="user.confidence > 66">
                        <hr class="average" ng-if="user.confidence > 33 && user.confidence < 66">
                        <hr class="bad" ng-if="user.confidence < 33">
                      </p>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <br>
            <br>

            <div class="level">
              <div class="level-item has-text-centered">
                <div>
                  <h5 class="heading">{{ user.pace }} </h5>
                  <h2 class="heading">Pace</h2>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <h5 5 class="heading">{{ user.concepts }}</h5>
                  <h2 class="heading">Concepts</h2>
                </div>
              </div>
            </div>
            <div class="level">
              <div class="level-item has-text-centered">
                <div>
                  <h5 class="heading">{{ user.syntax }} </h5>
                  <h2 class="heading">Syntax</h2>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <h5 5 class="heading">{{ user.confidence }}</h5>
                  <h2 class="heading">Confidence</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="box" id="scrollToHere">
      <div class="content has-text-centered">
        <h1>
          Lesson Notes
        </h1>
        <span ng-click="vm.expandThis()">
          <i input="checkbox" for="toggle" class="fa fa-2x grow" ng-class="{'fa-arrow-down': !vm.isExpanded, 'fa-arrow-up': vm.isExpanded}" aria-hidden="true"></i>
        </span>
      </div>
      <div class="content" ng-hide="!vm.isExpanded">
        <section>
          <div class="markdown-body" btf-markdown ng-include="vm.returnLessonNotes(vm.lesson.lessonNotes)">
          </div>
        </section>
      </div>
    </div>
