main {
  width: 90%;
  margin: 30px auto 0;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
}

img {
  height: 250px;
  border-radius: 6px;
}

.knob {
  display: inline-block;
  margin: 20px auto;
  ui-knob {
    padding: 30px;
  }
}
<<<<<<< HEAD
=======
.field {
  $border: black;
  $border-width: 3px;

}

.chat-box {
  padding-bottom: 2.5rem;
}

.chat-article {
  margin-left: -15px;
}
>>>>>>> dfef987d56ec422037b4a94eb049c1a9b4644ca1
