@import "markdown";

$lgreen: #199840;
$dgreen: #0B726E;
$turq:   #32b8b6;

$primary: #FB4542;
$poppy:   #F15050;
$yellow:  #F9D302;
$orange:  #F98B02;


main {
  width: 90%;
  margin: 30px auto;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
}

img {
  height: 250px;
  border-radius: 6px;
  &.need-help {
    box-shadow: 0 0 8px #F98B02;
  }
}

.knob {
  display: inline-block;
  margin: 20px auto;
  ui-knob {
    padding: 30px;
  }
}

.field {
  $border: black;
  $border-width: 3px;
}

.chat-article {
  margin-left: -15px;
}

.chat-reply {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
}

.reply-input {
    display: none;
}


.float-right {
  float: right;
}

.profile-show-img {
  margin-left: 16px;
}

.text-center {
  text-align: center;
}

.box-hover:hover {
  background: #fbfbfb;
}

.chat-help {
  margin-top: -108px;
  margin-left: -6px;
}

.index-help {
  // margin-top: -108px;
  // margin-left: -6px;
}

.user-index {
  cursor: pointer;
  &:hover {
    background: #2CC185;
  }
}

.block {
  display: block;
}

.user-img-lrg {
  margin-bottom: 16px;
}

.btn:hover {
  background-color: #2CC185;
  color: white;
  border: white;
}

.good {
  height: 4px;
  background-color: #2CC185;
  border-radius: 20px;
  margin: 0;
  border-radius: 50px;
}

.average {
  height: 4px;
  background-color: orange;
  margin: 0;
  border-radius: 50px;
}

.bad {
  height: 4px;
  background-color: red;
  margin: 0;
  border-radius: 50px
}

.box-hover:hover {
  shadow: black;
  background: #fbfbfb;

.user-need-help {
  text-shadow: 0 0 4px #F98B02;
}

@media screen and (max-width: 768px) {
  .content {
    .profile-small {
    font-size: .6em;
    }
  }
  h1 {
    line-height: 40px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 500px) {
  .chart-container {
    display: none;
  }
}

input {
  display: none;
  visibility: hidden;
}

label:hover {
  cursor: pointer;
  text-decoration: underline;
}

#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
}

#toggle:checked ~ #expand {
  height: 300px;
