main {
  width: 90%;
  margin: 30px auto 0;
}

img {
  height: 250px;
}

.knob {
  display: inline-block;
  margin: 20px auto;
  ui-knob {
    padding: 30px;
  }
}
.field {
  $border: black;
  $border-width: 3px;

}
